/* Fonts */
head,
body {
  font-family: "Space Mono", monospace !important;
}

.navbar,
h1,
h2 {
  font-weight: bold !important;
}

.nav-link {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 20px;
}

.nav-link:hover {
  background-color: #333;
  color: #fff !important;
}

/* Nav bar */
.navbar {
  position: absolute;
  background-color: #fff;
  opacity: 0.9;
}

.navbar a {
  color: inherit;
}

.navbar-brand {
  padding-left: 2%;
}

#navbarNav {
  padding-right: 2%;
}

/* Jumbotron */

.jumbotron {
  background: url("../images/background-image.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  opacity: 0.9;
}

.jumbotron h1,
p {
  color: white;
  text-align: center;
}

.d-flex {
  padding-top: 2%;
}

/* Memes section */
#memes {
  margin: 7%;
}

.memes-content {
  text-align: center;
  padding-bottom: 4%;
}

.memes-content p {
  color: black;
  font-size: 20px;
}

.memes-content h2 {
  font-size: 45px;
}

/* Words section */
#words {
  padding: 5%;
  background-color: black;
  opacity: 0.9;
}

.words-content {
  text-align: center;
  padding-bottom: 4%;
}

.words-content p {
  color: white;
  font-size: 20px;
}

.words-content h2 {
  font-size: 45px;
  color: white;
}

.card-body p {
  color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 18rem;
}
#words h5 {
  font-weight: 700;
  padding-bottom: 5%;
}

.card-content p {
  text-align: justify;
}

.author {
  font-weight: 600;
  font-style: italic;
}

/* Recently Viewed */

#recently-viewed {
  text-align: center;
  padding-top: 2%;
}

/* About Us Section */

#about {
  margin: 7%;
  background-color: black;
  opacity: 0.9;
}

#about img {
  width: 85%;
}

.image-col {
  background-color: black;
  opacity: 0.9;
  padding-left: 0;
}

.about-content h2 {
  color: white;
  padding-top: 15%;
}

.about-content {
  padding-bottom: 5%;
}

.about-content p {
  color: white;
  padding-top: 2%;
  text-align: justify;
}

/* results section INDEX*/
.results-gifs {
  display: none;
  background-color: #181818;
  margin: 50px 300px 50px 300px;
}

.results-words {
  background-color: #181818;
  margin: 50px 300px 50px 300px;
}

.results-words h2 {
  color: white;
  padding: 4% 4% 4% 15%;
  font-weight: 600;
  text-align: left;
}

.results-words p {
  color: white;
  text-align: center;
  padding-bottom: 10%;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 35px;
}

.results-gifs h2 {
  color: white;
  text-align: center;
  padding: 4%;
  font-weight: 600;
}

#meme-display {
  text-align: center;
  padding-bottom: 5%;
}

.return {
  text-align: center;
  padding-bottom: 3%;
}

/* Footer */

footer {
  background-color: black;
  padding-top: 2%;
  padding-bottom: 1%;
  opacity: 0.9;
}

.socials {
  display: flex;
  justify-content: flex-start;
}

.socials a {
  font-size: 30px;
  margin-left: 5%;
  text-decoration: none;
  color: white;
}

.socials a:hover {
  color: #333;
}

.contact-us i {
  padding-right: 2%;
}
.slogan {
  font-style: italic;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-us a:hover {
  color: #333;
}

.contact-us a {
  color: white;
  text-decoration: none;
}

/* Tablet */
@media only screen and (max-width: 1180px) {
  .jumbotron {
    height: 500px;
  }

  socials {
    display: flex;
    justify-content: center;
  }
}

/* Mobile */

@media only screen and (max-width: 500px) {
  .jumbotron {
    height: 500px;
  }

  .socials {
    display: flex;
    justify-content: center;
  }
}
