/* Nav bar */
.navbar {
  position: absolute;
  background-color: #fff;
  opacity: 0.9;
}

.navbar a {
  color: inherit;
}

.navbar-brand {
  padding-left: 2%;
}

#navbarNav {
  padding-right: 2%;
}
/* Jumbotron */

.jumbotron {
  background: url("../images/background-image.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17%;
  opacity: 0.9;
}

.jumbotron h1,
p {
  color: white;
  text-align: center;
}

.d-flex {
  padding-top: 2%;
}

/* Memes section */
#memes {
  margin: 7%;
}

.memes-content {
  text-align: center;
  padding-bottom: 4%;
}

.memes-content p {
  color: black;
  font-size: 20px;
}

.memes-content h2 {
  font-size: 45px;
}

/* Words section */
#words {
  padding: 5%;
  background-color: black;
  opacity: 0.9;
}

.words-content {
  text-align: center;
  padding-bottom: 4%;
}

.words-content p {
  color: white;
  font-size: 20px;
}

.words-content h2 {
  font-size: 45px;
  color: white;
}

.card-body p {
  color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 18rem;
}
#words h5 {
  font-weight: 700;
  padding-bottom: 5%;
}

.card-content p {
  text-align: justify;
}

.author {
  font-weight: 600;
  font-style: italic;
}

/* About Us Section */

#about {
  margin: 7%;
  background-color: black;
  opacity: 0.9;
}

#about img {
  width: 80%;
}

.image-col {
  background-color: black;
  opacity: 0.9;
}

.about-content h2 {
  color: white;
  padding-top: 15%;
}

.about-content {
  padding-bottom: 5%;
}

.about-content p {
  color: white;
  padding-top: 2%;
  text-align: justify;
}
 
/* Display GIFS */
.display-content h2 {
  text-align: center;

}

.p-meme {
  text-align: center;
  color: black;
  padding-left: 20%;
  padding-right: 20%;

}

.gif {
  align-items: center;
  text-align: center;
}
.display-content {
  text-align: center;
  padding-bottom: 2%;
}

#display-gifs {
  text-align: center;
  padding-bottom: 5%;
}


/* Footer */

footer {
  background-color: black;
  padding-top: 2%;
  padding-bottom: 1%;
  opacity: 0.9;
}

.socials {
  display: inline-flex;
  justify-content: space-evenly;
}

.socials a {
  font-size: 30px;
  padding: 2%;
}

.contact-us i {
  padding-right: 2%;
}
.slogan {
  font-style: italic;
}

.contact-us {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Results page */
#results {
  background-color: black;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.results-content {
  text-align: center;
  padding-bottom: 4%;
}

.results-content p {
  color: white;
  font-size: 15px;
}

.results-content h2 {
  font-size: 45px;
  color: white;
}

.card-body p {
  color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 18rem;
}
#results h5 {
  font-weight: 700;
  padding-bottom: 2%;
}

.card-content p {
  text-align: justify;
}

.author-results {
  font-weight: 600;
  font-style: italic;
}

.results-meme p {
  color: white;
  font-size: 15px;
  text-align: center;
}

.results-meme h2 {
  font-size: 45px;
  color: white;
}

.results-meme {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 4%;
}

.back-button {
  background-color: black;
  text-align: center;
  padding-bottom: 4%;
}





/* Responsive */
/* Tablet */

@media only screen and (max-width: 1180px) {

  .jumbotron {
    background: url("../images/background-image.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 17%;
    opacity: 0.9;
  }

  .jumbotron p {
    margin: 5%;
  }

  .display-4 {
    padding-top: 15%;
  }

  .memes-content p {
    color: black;
    font-size: 15px;
  }
  
  .memes-content h2 {
    font-size: 35px;
  }
  
  .card-meme {
    padding-bottom: 3%;
  }

  .words-content p {
    color: white;
    font-size: 15px;
  }
  
  .words-content h2 {
    font-size: 35px;
    color: white;
  }

  .about-image {
    display: none;
  }
  .about-content h2 {
    padding-top: 5%;
    text-align: center;
    font-size: 35px;
  }

  .about-content p {
  padding-right: 5%;  
  padding-left: 5%; 
  
  }




}

/* Mobile */